# 6.1 Data Sourcing & Cleaning

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import os

## Importing data

In [1]:
path = r'C:\Users\turne\Chocolate Rating'

In [2]:
path

'C:\\Users\\turne\\Chocolate Rating'

In [8]:
# import cacao.csv as dataframe
df = pd.read_csv(os.path.join(path, 'Original Data','flavors_of_cacao.csv'), index_col = False)

In [9]:
df.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [10]:
df.shape

(1795, 9)

In [11]:
df.describe()

               REF  Review\nDate       Rating
count  1795.000000   1795.000000  1795.000000
mean   1035.904735   2012.325348     3.185933
std     552.886365      2.927210     0.478062
min       5.000000   2006.000000     1.000000
25%     576.000000   2010.000000     2.875000
50%    1069.000000   2013.000000     3.250000
75%    1502.000000   2015.000000     3.500000
max    1952.000000   2017.000000     5.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1794 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [14]:
df_dups = df[df.duplicated()]

In [20]:
df_dups

Empty DataFrame
Columns: [Company
(Maker-if known), Specific Bean Origin
or Bar Name, REF, Review
Date, Cocoa
Percent, Company
Location, Rating, Bean
Type, Broad Bean
Origin]
Index: []

In [21]:
df.shape

(1795, 9)

## Renaming columns

In [25]:
df.rename(columns = {'Cocoa\nPercent':'Cacao Percent'},inplace = True)

In [26]:
df.rename(columns = {'Company\nLocation':'Company Location'},inplace = True)

In [27]:
df.rename(columns = {'Bean\nType':'Bean Type'},inplace = True)

In [28]:
df.rename(columns = {'Broad Bean\nOrigin':'Bean Origin'},inplace = True)

In [33]:
df.rename(columns = {'Review\nDate':'Review Date'},inplace = True)

In [55]:
df.rename(columns = {'Company Name':'Bar Name'},inplace = True)

In [53]:
df.rename(columns = {'Specific Bean Origin\nor Bar Name':'Bar Name'},inplace = True)

In [58]:
df.head()

,Company \n(Maker-if known),Bar Name,REF,Review Date,Cacao Percent,Company Location,Rating,Bean Type,Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [41]:
df.isnull().sum()

Company \n(Maker-if known)    0
Company Name                  0
REF                           0
Review Date                   0
Cacao Percent                 0
Company Location              0
Rating                        0
Bean Type                     1
Bean Origin                   1
dtype: int64

In [42]:
df['Rating'].value_counts(dropna = False)

Rating
3.50    392
3.00    341
3.25    303
2.75    259
3.75    210
2.50    127
4.00     98
2.00     32
2.25     14
1.50     10
1.00      4
1.75      3
5.00      2
Name: count, dtype: int64

In [62]:
df

,Company \n(Maker-if known),Bar Name,REF,Review Date,Cacao Percent,Company Location,Rating,Bean Type,Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

## Changing data types

In [61]:
df['Bean Type'] = df['Bean Type'].astype('str')

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company
(Maker-if known)  1795 non-null   object
 1   Bar Name                   1795 non-null   object
 2   REF                        1795 non-null   int64
 3   Review Date                1795 non-null   int64
 4   Cacao Percent              1795 non-null   object
 5   Company Location           1795 non-null   object
 6   Rating                     1795 non-null   float64
 7   Bean Type                  1795 non-null   object
 8   Bean Origin                1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [64]:
df.to_csv(os.path.join(path, 'Original Data','Chocolate_clean.csv'))

In [65]:
df.describe()

               REF  Review Date       Rating
count  1795.000000  1795.000000  1795.000000
mean   1035.904735  2012.325348     3.185933
std     552.886365     2.927210     0.478062
min       5.000000  2006.000000     1.000000
25%     576.000000  2010.000000     2.875000
50%    1069.000000  2013.000000     3.250000
75%    1502.000000  2015.000000     3.500000
max    1952.000000  2017.000000     5.000000